/* Resetting basic element styles */
body, h1, p {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Header */
header {
    grid-area: header;
    display: flex;
    align-items: center;
    background-color: #2F8FA4;
    height: 100px;
    overflow: hidden;
    justify-content: flex-start;
}

/* Logo container styling */
.logo {
    flex-shrink: 0;
    width: 240px;
}

.logo img {
    width: 95%;
}

/* Navigation styling */
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

/* Navigation links */
nav ul li {
    padding: 0 10px;
    border-right: 1px solid white;
}

/* Navigation link styling */
nav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: color 0.3s ease;
}

/* Navigation link hover state */
nav a:hover, nav a.active {
    color: black;
}

/* Main content styling */
.content, .dynamic-title, .weather-data, chatbot{
    padding: 20px;
    line-height: 1.6;
    text-align: center;
}

/* Main content container styling */
.index-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #2F8FA4;
    background-attachment: fixed;
    background-image: url("/static/images/20231114_011814.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

/* Main content heading styling */
.index-main-content p {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Main content container styling */
.content-container {
    background-color: #2F8FA4;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin: 20px auto;
    opacity: 0.85;
}

.wind-arrow-container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
}

.wind-arrow {
    font-size: 20px;
    transform: rotate(0deg);
}

/* Map container styling */
.windy {
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Weather data container styling */
.weather-data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    justify-content: center;
    padding: 20px;
}


/* Weather data item styling */
.weather-data-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px #2F8FA4;
    margin: 0;
    text-align: center;
}

/* Weather data heading styling */
.weather-data-heading {
    margin-bottom: 5px;
}

/* Weather data value styling */
.weather-data-value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

/* Dynamic title styling */
.dynamic-title, .weather-data {
    border-radius: 0;
    box-shadow: none;
}

/* Form elements styling */
select, input[type="submit"] {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid ;
    margin-bottom: 10px;
}

/* Form elements focus state */
input[type="submit"] {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

/* Form elements hover state */
input[type="submit"]:hover {
    background-color: black;
    color: white;
}

/* Main content area where map and chatbox will be side by side */
.main-content-area {
    grid-area: main;
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allows items to wrap as needed */
    align-items: flex-start; /* Aligns children at the start of the cross axis */
}

/* Adjust the weather content and chatbox to be flex items */
.weather-content {
    flex: 3 1 auto; /* Allows boxes to grow and shrink as needed */
}

/* Chatbot container styling */
.chatbot-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column; /* Stacks the messages and form */
    justify-content: space-between; /* Aligns children at the start and end */
    max-width: 30%;
    min-height: 0;
    background-color: #f9f9f9;
    border-radius: 4px;
    overflow-y: auto;

}

.chatbot {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column; /* Stacks the messages and form */
    justify-content: space-between; /* Aligns children at the start and end */
    min-height: 0;
    background-color: #f9f9f9;
    border-radius: 4px;
    overflow-y: auto;
}

/* Align input box and send button to the bottom */
#chatbot-form {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Aligns items to the end of the main axis */
    order: 2;
    overflow-y: auto;

}

#chatbot-messages {
    flex: 0.8;
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px; /* Provides space between messages and input form */
    order: 1;
    overflow-y: auto;
}

#chatbot-form button {
    background-color: #2F8FA4; /* Button color */
    color: white; /* Text color */
    border: none; /* Removes the default button border */
    padding: 10px 20px; /* Top/bottom and left/right padding */
    text-align: center; /* Centers the text */
    text-decoration: none; /* Removes the default underline */
    display: inline-block;
    font-size: 16px; /* Text size */
    margin: 4px 2px;
    cursor: pointer; /* Changes the cursor when you hover over the button */
    border-radius: 12px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

#chatbot-form button:hover {
    background-color: #1a5a6c; /* Darker shade for hover effect */
}

/* Footer styling */
footer {
    grid-area: footer;
    height: 40px;
    background-color: #2F8FA4;
    color: white;
    text-align: center;
    border-radius: 0 0 2px 2px;
    margin-top: auto;
    z-index: 1;
}


/* ensure page layout stays consistent when on ultra-wide screens */
@media (min-width: 2000px) {
    .page-layout {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "main chatbot"
            "footer footer";
    }
}

/* Responsive adjustments for the grid */
@media (max-width: 1024px) {
    .weather-data {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}

@media (max-width: 768px) {
    .weather-data {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px) {
    .weather-data {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 320px) {
    .weather-data {
        grid-template-columns: 1fr;
    }
}



